body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.scheduler-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width */
}

.scheduler-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}


h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;   
    display: block;     
}

input,
select,
button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
}

button:hover {
    background-color: #218838;
}

.response-message {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
